@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes representative {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translateY(0);
  }

  40%,
  100% {
    transform: translateY(-110%);
  }
}

.animate-representative {
  animation: representative 8s infinite;
}
.animate-representative-delay-1 {
  animation: representative 8s infinite;
  animation-delay: -2s;
}
.animate-representative-delay-2 {
  animation: representative 8s infinite;
  animation-delay: -4s;
}
.animate-representative-delay-3 {
  animation: representative 8s infinite;
  animation-delay: -6s;
}

#search-widget {
  background-color: transparent;
  perspective: 1000px;
}

#search-widget-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

#search-form,
#form-response {
  color: black;
  width: 100%;
  height: 100%;
  transition: transform 2s;
}

#search-loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
