@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes representative {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translateY(0);
  }

  40%,
  100% {
    transform: translateY(-110%);
  }
}

.animate-representative {
  animation: representative 8s infinite;
}
.animate-representative-delay-1 {
  animation: representative 8s infinite;
  animation-delay: -2s;
}
.animate-representative-delay-2 {
  animation: representative 8s infinite;
  animation-delay: -4s;
}
.animate-representative-delay-3 {
  animation: representative 8s infinite;
  animation-delay: -6s;
}

#search-widget {
  background-color: transparent;
  perspective: 1000px;
}

@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
.flipsearch {
  animation-name: flipAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#search-widget-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#search-form,
#form-response {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
}

#form-response {
  transform: rotateY(180deg);
}

#search-loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
